
body{
    margin: 0;
    height: 100vh;
    background:( rgb(0, 0, 0));
}


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu {
    position: relative;
  }
  .menu > .menu-trigger {
    display: inline-grid;
    place-items: center;
    padding: 0.5em;
    background: #48485e;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  .menu > .menu-menu {
    background: #48485e;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
    position: absolute;
    margin-top: 0.5em;
    transition: opacity 0.3s ease;
  }
  .menu > .menu-menu > li {
    padding: 0.2em 0.4em;
  }
  .menu[data-aberto="true"] > .menu-trigger > .fa-plus {
    display: none;
  }
  .menu[data-aberto="true"] > .menu-menu {
    opacity: 1;
    visibility: visible;
  }
  .menu[data-aberto="false"] > .menu-trigger > .fa-minus {
    display: none;
  }
  .menu[data-aberto="false"] > .menu-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s step-end;
  }
  .logo{
    position: absolute;
    top: 1%;
    left: 95%;
  }

 
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }}


